.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
  background: rgb(233, 53, 81);
  background: linear-gradient(
    0deg,
    rgba(233, 53, 81, 1) 25%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 50%;
  margin: auto;
}

.shadow {
  box-shadow: 0px 30px 50px -3px #e93551;
  z-index: 5;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content1 {
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 92px 0 36px #fff8f8;
}

:is(.content1, .content2) {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.cover {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

.members {
  position: absolute;
  padding: 10px 20px;
  column-gap: 10px;
  background-color: var(--bg-section);
  border-radius: 20px;
  top: 80px;
  left: -60px;
  box-shadow: 0px 0px 200px var(--subtitle-color);
  z-index: 10;
}

.members .img {
  width: 40px;
  height: 40px;
  background-color: var(--mini-red-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.members img {
  width: 60% !important;
  transform: unset !important;
}

.members .num {
  color: var(--title-color);
}

.members span {
  color: var(--subtitle-color);
  font-size: 0.7rem;
  text-align: center;
  display: block;
  margin-top: -10px;
}

.instructor {
  background-color: var(--bg-section);
  width: 150px;
  position: absolute;
  padding: 10px;
  right: -60px;
  bottom: 90px;
  border-radius: 20px;
  box-shadow: 0px 0px 200px var(--subtitle-color);
  z-index: 10;
}

.instructor > div {
  margin-bottom: 5px;
}

.instructors {
  display: flex;
  align-items: center;
}

.instructors li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -5px;
  border: 2px solid var(--bg-section);
}

.instructors li:last-child {
  background-color: var(--mini-red-color);
  color: var(--red-color);
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
}

.instructors li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
